* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Black', sans-serif;
}

p {
    color: darkgrey;
}

h1, h3 {
    color: yellow;
}

ul {
    color:darkgrey;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gridwrapper {
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-areas:
        "he he he he he"
        "ma ma ma ma ma"
        "ma ma ma ma ma"
        "ma ma ma ma ma"
        "co co co co co"
        "co co co co co"
        "co co co co co"
        "fo fo fo fo fo"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
}


/* Header css */

.header {
    grid-area: he;
    background-color: #020607;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px yellow solid;
}

.header a{
    color: darkgray;
    text-decoration: none;
    text-transform: uppercase;
    font-size:20px;
}

.header a:hover{
    color: yellow;
}

.header nav {
    float:right;
    margin-right: 30px;
}
.header li{
    display: inline;
    padding: 0 20px 0 20px;
}

.logo {
    margin-left: 120px;
    margin-top: 10px;
}

.home_outline a{
    color: yellow;
}

/* Main css */

.main {
    grid-area: ma;
    background:url("../img/main_hamburgare.jpg") no-repeat 0 -200px;
    background-size: cover;
    background-color: #020607;
}

.main h1{
    font-size: 70px;
    margin-left: 160px;
    margin-top: 90px;
}

.main p {
    color: darkgrey;
    font-size: 30px;
    margin-left: 160px;
}

/* Content css */

.content {
    grid-area: co;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    background-color: #020607;
}

.box {
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    text-align: center;
}


.box img {
    width: 200px;
    height: 200px;
}

/* footer css */

.footer {
    grid-area: fo;
    background-color:  #020607;
    font-size: 14px;
    padding: 40px 0 20px;
    border-top: 2px solid yellow;
}

.footer h3 {
    margin-bottom: 20px;
}

.footer-col-2 img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 10px;
}

.footer-col-1{
    flex-basis: 25%;
    text-align: center;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

/* Menu.html */

.menyn {
    grid-area: ma;
    background-color:#020607;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.menyn h3 {
    text-align: center;
    margin-bottom: 30px;
}

.mat {
    text-align: center;
    flex-basis: 25%;
    padding: 10px;
    min-width: 150px;
    margin-bottom: 50px;
    width: 100%;
    margin: 0 10px 30px 10px;
    background-color: white;
    border-radius: 40px;
    transition: transform 0.5s;
    border: 1px solid darkgray;
}

.mat:hover{
    transform: translateY(-5px);
}

.mat img {
    width: 200px;
    height: 200px;
}