* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridwrapper {
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-areas:
        "he he he he he"
        "ma ma ma ma ma"
        "ma ma ma ma ma"
        "ma ma ma ma ma"
        "co co co co co"
        "co co co co co"
        "co co co co co"
        "fo fo fo fo fo"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 3px;
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    grid-area: he;
    background-color: #020607;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a{
    color: darkgray;
    text-decoration: none;
    text-transform: uppercase;
    font-size:20px;
}

.header nav {
    float:right;
    margin-right: 30px;
    border: 2px solid black;
}
.header li{
    display: inline;
    padding: 0 20px 0 20px;
}

#logo {
    border: 2px solid black;
    margin-left: 100px;
    height: 130px;
}

.home_outline a{
    color: yellow;
}

.main {
    grid-area: ma;
    background-color: darkgray;
    background:url("../img/main_hamburgare.jpg") no-repeat 0 -200px;
    background-size: cover;
}


.content {
    grid-area: co;
    background-color: darkgray;
}

.footer {
    grid-area: fo;
    background-color: darkgray;
}